.hero_mypage{
    background-image: url(../images/personcooking.png);
    min-height: 600px;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
}
.hero_header{
    grid-column: 1 / span 12;
    grid-row: 1 ;
    display: flex;
    justify-content: center;
    color: var(--background-color-light);
    height: 45px;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 115px;
    font-weight: 400;
    gap: 10px;
}
.hero_header span{
    font-weight: 700;
}
@media (max-width: 400px) {
    .hero_mypage{
        height: fit-content;
    }
    .hero_header{
        grid-column: 1 / span 2;
        grid-row: 1;
        margin-top: 80px;
   }
    .hero_header span{
        font-weight: 500;
   }
}
.hero_recipes{
    grid-column: 1 / span 12;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
    height: fit-content;
    width: var(--width-12col);
    box-sizing: border-box;
}
.hero_recipes_card {
    display: flex;
    background-color: var(--background-color-light);
    border-radius: 5px;
    position: relative;
    flex-direction: column;
}
.hero_recipes_card_top {
    display: flex;
}
.hero_recipes_card_top_img{
    width: 200px;
    height: 158px;
    height: auto;
}
@media (max-width: 400px) {
    .hero_recipes{
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
        grid-template-columns: repeat(2, 1fr);
        width: var(--width-2col);
        padding: 15px;
    }
    .hero_recipes_card_top {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .hero_recipes_card_top_img {
        width: auto;
        height: 120px;
    }
    .hero_recipes_card_top_img img{
        height: 130px;
        width: 150px;
    }
}
.hero_recipes_card_top_category {
    display: flex;
    flex-direction: column;
    margin: 19px 11px 132px 0;
}

.hero_recipes_card_top_category p{
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}
.hero_recipes_card_top_category p:last-child {
    font-weight: 800;
}
.hero_recipes_card_bottom {
    margin: 0 41px 22px 22px;
}
.hero_recipes_card_bottom h3{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color_dark);
    margin-bottom: 6px;
}
.hero_recipes_card_bottom p{
    font-size: 14px;
    font-weight: 300;
    color: var(--color_dark);
}
@media (max-width: 400px) {
    .hero_recipes_card_top_category{
        margin: 15px 0 15px 15px;
    }
    .hero_recipes_card_top_category p:last-child{
        font-weight: 500;
    }
    .hero_recipes_card_bottom{
        margin: 0 15px 10px 15px;
    }
    .hero_recipes_card_bottom h3{
        font-size: 18px;
    }
    .hero_recipes_card_bottom p{
        display: none;
    }
}
.category_selection_line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / span 12;
}
.category_names {
    display: flex;
    align-items: flex-start;
    color: var(--background-color-light);
    text-transform: uppercase;
    font-size: 17px;
    gap: 20px;
}
.category_names h3{
    border-right: 3px solid var(--color-light);
    padding-right: 15px;
    font-size: 20px;
    font-weight: 500;
}
.category_names h3:last-child {
    border-right: none;
}
@media (max-width: 400px) {
    .category_selection_line{
        flex-direction: row;
        flex-wrap: wrap;
        grid-column: 1 / span 2;
        padding: 15px;
    }
    .category_names{
        margin-bottom: 28px;
        margin-top: 20px;
    }
}
.search-input {
    background-color: transparent;
    padding: 10px 20px 10px 40px;
    border: 1px solid var(--background-color-light);
    border-radius: 5px;
    outline: none;
    color: var(--background-color-light);
    margin: 0 0 10px 0;
    width: 367px;
}
.recipes_section {
    width: var(--width-12col);
    display: grid;
    grid-template-columns: 30% 70%;
    gap: var(--grid-gap);
    margin: 15px auto;
}  
@media (max-width: 400px) {
    .recipes_section{
        width: var(--width-2col);
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }
}
.accordion {
  background-color: transparent;
  max-width: 500px;
  width: 100%;
  text-align: left;
  border-bottom: 2px solid var(--color_dark);
  overflow: hidden;
  border: 1px solid var(--color-light);
  border-radius: 5px;
}
.according_item{
    border-bottom: 1px solid #ddd;
}
.according_item:last-of-type{
    border-bottom: none;
}
.icon{
    transition: transform 0.3 ease;
}
.accordion_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
    color: var(--color-light);
    font-size: 22px;
    margin: 10px 15px;
}
.accordion_content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3 ease;
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
}

@media (max-width: 400px){
    .accordion{
        max-width: var(--width-2col);
        border-bottom: 1px solid #ddd;
        margin: 10px 15px;
        width: 92%;
    }
    .accordion_header{
        padding: 10px;
        margin: 0;
        font-size: 18px;
    }
    .accordion_content{
        margin: 0;
    }
}
.accordion_content input{
    font-size: 16px;
    line-height: 10px;
    color: var(--color-light);
}
.accordion_content input[type="radio"] {
    height: 18px;
    width: 18px;
    margin: 10px 15px 10px 0;
    accent-color: var(--primary-color);
}
.accordion_item > input[type="checkbox"] {
  display: none;
}
.accordion_item input:checked ~ .accordion_content{
    max-height: 200px;
    padding: 0 16px;
    background-color: transparent;
}
.accordion_item input:checked + .accordion_header .icon{
    transform: rotate(45deg);
}
@media (max-width: 400px){
    .accordion_content input[type="radio"] {
        margin: 10px 15px 10px  10px;
        height: 12px;
    }
    .accordion_item input:checked ~ .accordion_content{
        padding: 0 15px;
        max-height: fit-content;
    }
}
.recipes_section_cards{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--grid-gap);
    margin-left: 55px;
}
.recipes_section_cards_one {
    height: 280px;
    background-image: url(../images/orangechicken.jpg);
    border-radius: 5px;
    opacity: 0.9;
    z-index: 0;
}
.recipes_section_cards_two{
    height: 280px;
    width: auto;
    background-image: url(../images/airfryerchick.jpg);
    border-radius: 5px;
    opacity: 0.9;
    z-index: 0;
}

.recipes_section_cards_three{
    height: 280px;
    background-image: url(../images/hoisinchick.jpg);
    border-radius: 5px;
    opacity: 0.9;
    z-index: 0;
}
.recipes_section_cards_four{
    height: 280px;
    background-image: url(../images/marrymechick.jpg);
    border-radius: 5px;
    opacity: 0.9;
    z-index: 0;
}
@media (max-width: 400px) {
    .recipes_section_cards{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin: 0;
        padding: 0 15px;
    }
    .recipes_section_cards_one, .recipes_section_cards_two, .recipes_section_cards_three, .recipes_section_cards_four{
        height: 200px;
        width: 100%;
    }
}
.recipes_section_cards_one_text {
    width: 100%;
    height: 58px;
    background-color: #d9d9d9cc;
    text-transform: uppercase;
    color: var(--color_dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px 0 20px 0;
}
.recipes_section_cards_one_text span{
    border-left: 2px solid var(--color_dark);
    padding-left: 8px;
}
.recipes_section_cards_one_text h3{
    font-size: 22px;
    font-weight: 500;
    padding-right: 12px;
}
.recipes_section_cards_one_text p{
    font-size: 16px;
    font-weight: 400;
}
@media (max-width: 400px) {
    .recipes_section_cards_one_text{
        height: 48px;
        margin: 140px 0 10px 0;
    }
    .recipes_section_cards_one_text span{
        border-left: 1px solid var(--color_dark);
    }
    .recipes_section_cards_one_text h3{
        font-size: 16px;
        padding: 0;
    }
    .recipes_section_cards_one_text p{
        font-size: 12px;
    }
}
.recipe_section_cards_show_more {
    grid-column: 1 / span 2;
    display: flex;
}
.arrow_left {
    margin-left: 0;
}

.recipe_section_cards_show_more button{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    color: var(--background-color-light);
    background-color: transparent;
    border: none;
    margin: 15px 32px;
}
.block_one {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.block_two img{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
@media (max-width: 400px) {
    .content_area{
        width: var(--width-2col);
        grid-template-rows: auto;
        padding: 15px;
    }
    .content_area_headline{
        height: 30px;
        margin: 30px 0;
        font-size: 24px;
        font-weight: 600;
    }
    .recipe_section_cards_show_more{
        display: flex;
        width: 100%;
    }
    .recipe_section_cards_show_more button{
        font-size: 14px;
        margin: 15px 10px;
    }
    .arrow_left {
        margin-left: 0;
        width: 130px;
    }
    .arrow_right {
        margin-left: 0;
        width: 130px;
    }
    .block_one {
        border-radius: 5px;
    }
    .block_two img{
        border-radius: 5px;
        margin-bottom: 80px;
    }
}
