
.hero-searchpage {
    background-color: var(--background-color-dark-bg);
    background: linear-gradient(0deg, #ededed00, #ededed07);
    min-height: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin:0;
    border-bottom: 3px solid var(--color_dark);
}

.search-box-searchpage {
    grid-column: 1 / span 4;
    grid-row: 2;
    margin: 150px 0 0 0;
}
.search-box-searchpage p{
    color: var(--background-color-light);
}
.search-input{
    background-color: transparent;
    padding: 10px 20px 10px 40px;
    border: 1px solid var(--background-color-light);
    border-radius: 5px;
    outline: none;
    color: var(--background-color-light);
    margin: 0 0 10px 0;
}
.search-input::placeholder {
    color: var(--background-color-light);
}
@media (max-width: 400px) {
    .hero_searchpage {
        border-bottom: 1px solid var(--color_dark);
        padding: 15px;
    }
    .search-box-searchpage{
        grid-column: 1 / span 2;
        grid-row: 1;
        margin: 100px 0 30px 0;
    }
}
.fullsearch-headline {
    width: 100%;
    color: var(--background-color-light);
    margin: 0 0 15px 0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}
@media (max-width: 400px){
    .fullsearch-headline{
        margin: 0;
        padding: 10px 0;
    }
}

.filter-category-checkbox {
    background-color: var(--background-color-dark-bg);
    background: linear-gradient(90deg, #ededed11, #ededed07);
    grid-column: 6 / span 7;
    grid-row: 2;
    padding: 30px 40px 10px 40px;
    display: flex;
    flex-wrap: wrap;
    height: 240px;
    border-radius: 5px;
    margin: 150px 0 56px 0;
}
.filter-category-checkbox h3{
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    color: var(--background-color-light);
}
.filter-category-checkbox label {
    display: flex;
    align-items: center;
    margin: 0 0;
    color: var(--background-color-light);
    font-size: 16px;
    font-weight: 300;
    width: 50%;
    height: 20px;
}
@media (max-width: 400px){
    .filter-category-checkbox {
        grid-column: 1 / span 2;
        grid-row: 3;
        padding: 15px 15px 15px 15px;
        margin: 0;
        width: 370px;
    }
    .filter-category-checkbox h3{
        font-size: 20px;
    }
    .filter-category-checkbox label{
        font-size: 14px;
        height: 15px;
        flex-direction: column;
        flex-wrap: wrap;
        width: 40%;
        align-items: flex-start;
        margin-right: 30px;
    }
    .hero-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        width: 100%;
    }
}
.filter-category-checkbox input[type="radio"] {
    margin-right: 10px;
    height: 22px;
    width: 22px;
}

.filter-category-checkbox input:checked {
    border: 2px solid var(--primary-color);
}
.filter-category-checkbox input[type="radio"]#chicken {
    accent-color: var(--category-chicken);
}
.filter-category-checkbox input[type="radio"]#veg {
    accent-color: var(--category-veg);
}
.filter-category-checkbox input[type="radio"]#seafood {
    accent-color: var(--category-seafood);
}
.filter-category-checkbox input[type="radio"]#pasta {
    accent-color: var(--category-pasta);
}
.filter-category-checkbox input[type="radio"]#dessert {
    accent-color: var(--category-dessert);
}
.filter-category-checkbox input[type="radio"]#meat {
    accent-color: var(--category-meats);
}
.filter-category-checkbox input[type="radio"]#snacks {
    accent-color: var(--category-misc);
}

.serp {
    width: var(--width-full);
}

.serp-container {
  width: var(--width-12col);
  margin: 0 auto;
}
.serp-item {
    margin: 56px 80px;
    border-bottom: 1px solid var(--color_dark);
}
.serp-item h3 {
    color: var(--color-light);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 11px;
}
.serp-item h2{
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 14px;
}
.serp-item p{
    color: var(--color-light);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 46px;
}
@media (max-width: 400px) {
    .serp-container{
        width: var(--width-2col);
        margin: 0;
    }
    .serp-item{
        margin: 20px 30px;
    }
    .serp-item h3{
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 9px;
    }
    .serp-item h2{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .serp-item p{
        font-size: 14px;
        margin-bottom: 10;
    }
}